{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Kalam:wght@300&family=MonteCarlo&family=Nanum+Gothic&family=Satisfy&display=swap');
    html, body, div{margin : 0px;padding : 0px;border:0px; font-weight : medium;font-family:'Nanum Gothic', sans-serif;}

</style>
<div class="realfirstbox" style="display:flex; flex-direction:row;margin-top:12vh;">
    <div id = "arrow" style="margin-left:20px;"><a href="{% url 'mypage' %}"><img src = "{%static '화살표.png'%}"></a></div>
    <div id ="mygrouptitle" style="font-size:19px ;font-weight: bold;text-align: center;align-items: center;;margin-bottom:3vh;margin-left: 34%;;">내 모임</div>
</div>
<div class="all" style="display:flex;flex-direction:column;justify-content:space-around;align-items:center;padding-left:30px;padding-right: 30px;">
    <form action="{% url 'edit' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="imgbox" style="margin-bottom:2vh;">
            <label className="input-file-button" for="input-file" >
                {% if user.image %}
                <img src="{{user.image.url}}" id="previewImage" style = "width: 40px; height: 40px; object-fit:cover;border-radius: 100px;">
                {% else %}
                <img src="{%static 'personid.png'%}" id="previewImage" style = "width: 40px; height: 40px;object-fit:cover;border-radius: 100px;">
                {% endif %}
            </label>
            <input type="file" class="file" id="input-file" name="image" style="display:none" onchange="imageView(this);">
            <script type="text/javascript">
            function readImage(input) {
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    
                    reader.onload = (e) => {
                        const previewImage = document.getElementById('previewImage');
                        previewImage.src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            document.getElementById('input-file').addEventListener('change', (e) => {
                readImage(e.target);
            })
            </script>
        </div>
    
        <div class="firstbox" style="display:flex;flex-direction:row;margin-top:2vh;margin-bottom:2vh;">
            <div class = "titlebox" style = "display:flex; flex-direction: row;justify-content: space-around;align-items: center;">
                <div id="birth" style = "color:black;height: 35px; width: 150px;border-radius: 10px;background: #f5f5f5;border:0px;font-size: 17.5px; font-family : 'Nanum Gothic';font-weight: bold;text-decoration-color: black ;text-align: center;align-content: center;justify-content: center;padding-top: 15px;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;">
                    {{user.username}}
                </div>
            </div>
            <div class="genderbox" style="margin-left:5%;">
                
                {% if user.성별 == 0 %}
                <div class="gender" style="width:100px; height:45px;display:flex;flex-direction:row;justify-content: center;border: 1px solid #cdcdcd;border-radius: 10px;color: #707070;">
                    <div class="women" style="width:50px;height:45px;align-items:center;text-align:center;font-size: 17.5px;font-weight: bold;justify-content: center;padding-top:12.5px;">여성</div>
                    <div class="man" style="background: rgba(247, 196, 113, 0.37);width:50px;height:32.5px;align-items:center;text-align:center;font-size: 17.5px;font-weight: bold;padding-top:12.5px;">남성</div>

                </div>
                {% endif %}

                {% if user.성별 == 1 %}
                <div class="gender" style="width:100px; height:45px;display:flex;flex-direction:row;justify-content: center;border: 1px solid #cdcdcd;border-radius: 10px;color: #707070;">
                    <div class="women" style="background: rgba(247, 196, 113, 0.37);border-radius: 10px;width:50px;height:32.5px;align-items:center;text-align:center;font-size: 17.5px;font-weight: bold;justify-content: center;padding-top:12.5px;">여성</div>
                    <div class="man" style="width:50px;height:45px;align-items:center;text-align:center;font-size: 17.5px;font-weight: bold;padding-top:12.5px;">남성</div>

                </div>
                {% endif %}
            </div>
        </div>

        <div class = "birthbox" style = "display:flex; flex-direction: row;margin-bottom:2vh;">
            <div id="birth" style = "color:black;height: 35px; width: 150px;border-radius: 10px;background: #f5f5f5;border:0px;font-size: 17.5px; font-family : 'Nanum Gothic';font-weight: bold;text-decoration-color: black ;text-align: center;align-content: center;justify-content: center;padding-top: 15px;">
                {{user.생년월일}}
            </div>
        </div>

        {% if user.자기소개 == None %}
            <textarea name="자기소개" type="text" cols="40" rows="10" placeholder="자신의 학과 등을 자유롭게 입력해주세요." maxlength="200" required="" id="id_제목" style = "color:black;height: 104px; width: 250px;border-radius: 10px;background: #f5f5f5;border:0px;font-size: 14px; font-family : 'Nanum Gothic';padding:10px;"></textarea>
        {% endif %}

        {% if user.자기소개 == "" %}
           <textarea name="자기소개" type="text" cols="40" rows="10" placeholder="자신의 학과 등을 자유롭게 입력해주세요." style = "color:black;height: 104px; width: 250px;border-radius: 10px;background: #f5f5f5;border:0px;font-size: 14px; font-family : 'Nanum Gothic';padding:10px;"></textarea>
        {% endif %}

        {% if user.자기소개 != None and user.자기소개 != "" %}
            <textarea name="자기소개"  placeholder="자신의 학과 등을 자유롭게 입력해주세요." type="text" size=40 style = "color:black;height: 104px; width: 245px;border-radius: 10px;background: #f5f5f5;border:0px;font-size: 14px; font-family : 'Nanum Gothic';padding:10px;">{{user.자기소개}}</textarea>
        {% endif %}

        <br>
        <br>
    <div class="button" style="align-items:center;justify-content: center;display:flex;">
        <input type="submit" value="수정하기"style="width: 80px;height:4.5vh;border-radius: 10px;background: #f6b955;border:0px;font-size: 15.5px;font-family: Nanum Gothic;color:white;font-weight: bold;">
    </div>
    </form>
</div>

{% endblock %}