{% extends 'base.html' %}
{% block content %}
{%load static%}
<style>
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Kalam:wght@300&family=MonteCarlo&family=Nanum+Gothic&family=Satisfy&display=swap');
    html, body, div{margin : 0px;padding : 0px;border:0px; font-weight : medium;font-family: Nanum Gothic;}
    #moin{
        font-family: 'Kalam', 'Satisfy' ,cursive;
        line-height:60%;
        margin-left : 7px;
        margin-top : 15px;
        
    }
    #jointhemoin{
        font-family: 'MonteCarlo', cursive;
        margin-left : 10px;
    }
    h3{
        margin : 0px;
        font-weight : medium;
    }
    h1{margin : 0px; font-weight : medium;}
    #platform{
        font-family: 'Gowun Dodum', sans-serif;
        font-size : 10px;
    margin-left : 5px;    }


</style>
<div class = "personalinfo" style = "margin-top:10vh; height:7vh; display: flex; flex-direction: row; justify-content:space-between; align-items: center; ">
    <div id = "arrow" style="margin-left:20px;"><a href="{% url 'login' %}"><img src = "{%static '화살표.png'%}"></a></div>
</div>
<div>
    <div class ="error" style = "text-align: center; font-family:'Gowun Dodum';font-size:15px;font-weight: bold; margin-bottom: 10px;">
        {% if error %}
        {{ error }}
        {% endif %}
    </div>
    <div class = "all" style = "margin-top: 8vh;padding-left:20%;display:flex;flex-direction: column;justify-content: center;">
        <form action="{% url 'signup' %}" method="post">
            
            {% csrf_token %}
            <div id = "logintxt" style="margin-bottom: 3px;">
            아이디(학교 메일)
            </div>
            <div class = "loginbutton">
            <div id = "loginbutton" style="margin-bottom: 10px;">    
                <input type="email" name="email" maxlength="254" id="id_email" style = "border-radius: 5px; width:195px;height:3vh;border: 2px solid #707070;">
            </div>
            <div id = "logintxt" style="margin-bottom: 3px;">
            비밀번호 
            </div>
            <div id = "loginbutton1" style="margin-bottom: 10px;">
                <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" style = "border-radius: 5px; width:195px;height:3vh;border: 2px solid #707070;">
            </div>
            <div id = "logintxt" style="margin-bottom: 3px;">
            비밀번호 재확인 
            </div>
            <div id = "loginbutton" style="margin-bottom: 10px;">
                <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" style = "border-radius: 5px; width:195px;height:3vh;border: 2px solid #707070;">
            </div>
            <div id = "logintxt" style="margin-bottom: 3px;">
            이름
            </div>
            <div id = "loginbutton" style="margin-bottom: 10px;">
                <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" style = "border-radius: 5px; width:195px;height:3vh;border: 2px solid #707070;">
            </div>
            <div id = "logintxt" style="margin-bottom: 3px;">
            성별
            </div>
            <div id = "loginbutton" style="margin-bottom: 10px;">
                <select name="성별" required="" id="id_성별"  style = "border-radius: 5px; width:205px;height:4vh;border: 2px solid #707070;">
                    <option value="">선택해주세요.</option>
                  
                    <option value="0">남성</option>
                  
                    <option value="1">여성</option>
                  
                  </select>
            </div>
            <div id = "logintxt" style="margin-bottom: 3px;">
            생년월일(ex: 1999-10-09) 
            </div>
            <div id = "loginbutton" style="margin-bottom: 10px;">
                <input type="text" name="생년월일" required="" id="id_생년월일" style = "border-radius: 5px; width:195px;height:3vh;border: 2px solid #707070;">
            </div>
            <div style="font-size:10px">※ 가입완료 버튼을 누르면 인증메일이 발송됩니다</div>
            <button type='submit' style="margin-left:20%;margin-top:10px;margin-bottom: 70px;width: 80px;height:4.5vh;border-radius: 10px;background: #f6b955;border:0px;font-size: 15.5px;font-family: Nanum Gothic;color:white;font-weight: bold;">가입완료</button>
        </form>
    </div>
</div>


    
    
</div>
{% endblock %}