<div>
    <strong>1. 친목</strong>
    {% for open in open1 %}
    
        <a href="{%url 'detail_1' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

<br><br>

<div>
    <strong>2. 문화</strong>
    {% for open in open2 %}
    
        <a href="{%url 'detail_2' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

<br><br>

<div>
    <strong>3. 스포츠</strong>
    {% for open in open3 %}
    
        <a href="{%url 'detail_3' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

<br><br>

<div>
    <strong>4. 음악</strong>
    {% for open in open4 %}
    
        <a href="{%url 'detail_4' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

<br><br>

<div>
    <strong>5. 스터디</strong>
    {% for open in open5 %}
    
        <a href="{%url 'detail_5' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

<br><br>

<div>
    <strong>6. 여행</strong>
    {% for open in open6 %}
    
        <a href="{%url 'detail_6' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

<br><br>

<div>
    <strong>7. 게임</strong>
    {% for open in open7 %}
    
        <a href="{%url 'detail_7' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

<br><br>

<div>
    <strong>8. 봉사</strong>
    {% for open in open8 %}
    
        <a href="{%url 'detail_8' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

<br><br>

<div>
    <strong>9. 기타</strong>
    {% for open in open9 %}
    
        <a href="{%url 'detail_9' open.id %}">    
            <div>
                제목: {{open.title}}
            <br>
                내용: {{open.content}}
            </div>
        </a>
        <br>
    
    {% empty %}

        <p>검색 결과가 없습니다.</p>
    
    {% endfor %}
</div>

