{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Kalam:wght@300&family=MonteCarlo&family=Nanum+Gothic&family=Satisfy&display=swap');
    html, body, div{margin : 0px;padding : 0px;border:0px; font-weight : medium;font-family:'Nanum Gothic', sans-serif;}


    .bottombar{
        display : flex;
        flex-direction : row;
        justify-content: space-between;
        bottom: 0px;
        left:0px;
        position:fixed;
        text-align: center;
        opacity: 1;
        -webkit-transition: opacity .3s cubic-bezier(.215,.61,.355,1);
        transition: opacity .3s cubic-bezier(.215,.61,.355,1);
        zoom: 1;
        overflow-x: auto;
        -webkit-tap-highlight-color: transparent;
        zoom: 1;
        z-index: 1;
        line-height: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        width: 100%;
        height:6.5vh;
        background: rgba(255, 255, 255);
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);

    }
    #bottom_txt{font-family: 'Nanum Gothic', sans-serif; font-size : 8.5px;}
    .secondbox{
        display : flex;
        flex-direction : row;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 1;
        -webkit-transition: opacity .3s cubic-bezier(.215,.61,.355,1);
        transition: opacity .3s cubic-bezier(.215,.61,.355,1);
        zoom: 1;
        overflow-x: auto;
        -webkit-tap-highlight-color: transparent;
        margin-left: 0px;
        margin-right: 16px;
        zoom: 1;
        z-index: 1;
        white-space: nowrap;
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left : 8px;
        line-height: 20px;
        -webkit-overflow-scrolling: touch;

    }
    .categoryicon{
        opacity: .7;
        padding: 6px 2.8vw;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        color: #000;
        font-weight: 200;
        padding-left: 20px;
        padding-right : 20px;
    }
    .fourthbox{
        display: flex;
        flex-direction:row;
        justify-content:space-around;


    }
    #category_txt{font-family: 'Nanum Gothic', sans-serif; font-size : 12.5px;}
    .firstbox{
        height: 5.5vh;
        background: rgba(0, 0, 0, 0.045);
        justify-content: space-between;
        display:flex;
        flex-direction:row;
        align-items: center;
        margin-top: 7vh;

    }
    #intro_txt{
        color :#F6B955; font-family: 'Nanum Gothic', sans-serif; font-size : 13.5px;font-weight: bold;text-align:center;margin-left : 22.5%;}
    #date_txt{
        color :black ; font-family: 'Nanum Gothic', sans-serif; font-size : 13.5px;font-weight: bold;text-align:center;margin-right : 22.5%;}

    #yellow_line{
        background : #F6B955; height:0.3vh; width:50%;}
    .membersbox{
        display : flex;
        flex-direction : row;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 1;
        -webkit-transition: opacity .3s cubic-bezier(.215,.61,.355,1);
        transition: opacity .3s cubic-bezier(.215,.61,.355,1);
        zoom: 1;
        overflow-x: auto;
        -webkit-tap-highlight-color: transparent;
        margin-left: 0px;
        margin-right: 20px;
        margin-left:20px;
        zoom: 1;
        z-index: 1;
        white-space: nowrap;
        padding-top: 15px;
        padding-bottom: 0px;
        padding-left : 0px;
        line-height: 20px;
        -webkit-overflow-scrolling: touch;
        
    }
    .writebotton{
        bottom:14vh;position:fixed;display: flex; flex-direction: row;margin-left:85%;margin-right:10px;
    }
    .mointext{
        width:90%;
        height: 15vh;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        background: white;
        margin-left: 5%;
        margin-top: 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .moin1box{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: auto;
        margin-top: 10px;
    }
    .moin2box{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        width:80%;
        margin-left:11.4%;
        margin-top: 1vh;
    }
    .moin3box{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:auto;
        margin-bottom: 4px;
    }
</style>
<div class = "all" style = "margin-top : 5vh; width:100%; margin-bottom : 7vh; top : 0vh;">
    <div class = "firstbox">
        <div id = "intro_txt" >소개</div>
        <div id = "date_txt">일정</div>
        
    </div>
        <div id = "yellow_line"></div>
    <div class = "detailimg">
        {% if open.image %}        
        <img src="{{open.image.url}}" alt="" style = "width: 100%; height: 22.5vh; object-fit:cover;position:relative;">
        {% endif %}
        <div class="blackbox" style = "width:100%; height: 22.5vh; background: rgba(0, 0, 0, 0.35);position:absolute;top:13vh;display:flex;align-items: center;flex-direction: column;">
            <div id= "title" style = "font-size: 27px;font-weight: bold;font-family: Nanum-Gothic;color:white;margin-top:7vh;">
                {{open.title}}
            </div>
            <div id = "intro" style= "font-size: 15px;font-weight: bold;font-family: Nanum Gothic;color:white;margin-top:1vh;">
                {{open.intro}}
            </div>
        </div>
    </div>
    <div class = "contentwrap" style = "width:90%;margin-left:5%;padding-top:1vh;padding-bottom:1vh;">
        <div class = "content" style = "white-space:pre-line;font-size:13px;font-family: Nanum Gothic;vertical-align: baseline;">
            {{open.content}}
        </div>
    </div>

    <div class = "members">
        <div class = "memberstitle" style = "display:flex;flex-direction:row;">
            <div id = "yellowmember" style = "font-weight:bold; color:#F6B955; font-size:15px;font-family: Nanum Gothic;margin-left:20px;">모인</div>
            <div id = "membertxt" style = "font-weight:bold; font-size:15px;font-family: Nanum Gothic;margin-left:5px;">멤버</div>
            <div id = "membernumber" style = "font-weight:bold; font-size:15px;font-family: Nanum Gothic;margin-left:5px;">({{open.number}})</div>
        </div>
    </div>
    <div class = "membersbox">
        <div class = "memberimg1" style = "display:flex; flex-direction: column;align-items:center;margin-right:20px;">
            <div id = "memberprofile" style = "display:flex;justify-content: center;">
                {% if open.image %}        
                <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;border: 2px solid #f6b955;">
                {% endif %}
            </div>
            <div id ="membername" style = "font-size:13px;font-family: Nanum Gothic;">조윤</div>
        </div>
        <div class = "memberimg1" style = "display:flex; flex-direction: column;align-items:center;margin-right:20px;">
            <div id = "memberprofile" style = "display:flex;justify-content: center;">
                {% if open.image %}        
                <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;border: 2px solid #f6b955;">
                {% endif %}
            </div>
            <div id ="membername" style = "font-size:13px;font-family: Nanum Gothic;">조윤</div>
        </div>
        <div class = "memberimg1" style = "display:flex; flex-direction: column;align-items:center;margin-right:20px;">
            <div id = "memberprofile" style = "display:flex;justify-content: center;">
                {% if open.image %}        
                <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;border: 2px solid #f6b955;">
                {% endif %}
            </div>
            <div id ="membername" style = "font-size:13px;font-family: Nanum Gothic;">조윤</div>
        </div>
        <div class = "memberimg1" style = "display:flex; flex-direction: column;align-items:center;margin-right:20px;">
            <div id = "memberprofile" style = "display:flex;justify-content: center;">
                {% if open.image %}        
                <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;border: 2px solid #f6b955;">
                {% endif %}
            </div>
            <div id ="membername" style = "font-size:13px;font-family: Nanum Gothic;">조윤</div>
        </div>
        <div class = "memberimg1" style = "display:flex; flex-direction: column;align-items:center;margin-right:20px;">
            <div id = "memberprofile" style = "display:flex;justify-content: center;">
                {% if open.image %}        
                <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;border: 2px solid #f6b955;">
                {% endif %}
            </div>
            <div id ="membername" style = "font-size:13px;font-family: Nanum Gothic;">조윤</div>
        </div>
        <div class = "memberimg1" style = "display:flex; flex-direction: column;align-items:center;margin-right:20px;">
            <div id = "memberprofile" style = "display:flex;justify-content: center;">
                {% if open.image %}        
                <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;border: 2px solid #f6b955;">
                {% endif %}
            </div>
            <div id ="membername" style = "font-size:13px;font-family: Nanum Gothic;">조윤</div>
        </div>
        <div class = "memberimg1" style = "display:flex; flex-direction: column;align-items:center;margin-right:20px;">
            <div id = "memberprofile" style = "display:flex;justify-content: center;">
                {% if open.image %}        
                <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;border: 2px solid #f6b955;">
                {% endif %}
            </div>
            <div id ="membername" style = "font-size:13px;font-family: Nanum Gothic;">조윤</div>
        </div>
    </div>
    
    <div class = "moinwritings" style = "margin-top: 20px;">
        <div class = "mointexttitle" style = "display:flex;flex-direction:row;">
            <div id = "yellowmoin" style = "font-weight:bold; color:#F6B955; font-size:15px;font-family: Nanum Gothic;margin-left:20px;">모인</div>
            <div id = "mointitletxt" style = "font-weight:bold; font-size:15px;font-family: Nanum Gothic;margin-left:5px;">글</div>
        </div>
        <div class = "mointext">
            <div class = "moin1box" style = "position:relative;">
                <div class = "profile" style = "display: flex;flex-direction:row;">
                    <div id = "writerprofile" style="margin-left:10px;">
                        {% if open.image %}        
                        <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;">
                        {% endif %}
                    </div>
                    <div id ="membername" style = "font-size:12px;font-family: Nanum Gothic;font-weight: bold;margin-left:10px;margin-right:20px;">조윤</div>
                </div>
                <div id = "writtendate" style = "font-size:12px;font-family: Nanum Gothic; color:#afafaf;margin-left:auto;margin-right: 10px;">8월 27일 21:04</div>
            </div>
            <div class = "moin2box" style = "position:absolute;">
                <div class = "contenttxt">
                    <div id = "contenttitle" style = "font-family:Nanum Gothic;font-size: 14px;font-weight: bold;">가입인사</div>
                    <div id = "content" style = "font-family:Nanum Gothic;font-size: 12px;margin-top:10px;">안녕하세요. 김윤조입니다.</div>
                </div>
                <div class = "contentimg">
                    {% if open.image %}        
                        <img src="{{open.image.url}}" alt="" style = "width: 100%; height: 6vh; object-fit:cover;">
                    {% endif %}
                </div>
            </div>
            <div class = "moin3box">
                <div class = "commentlike" style = "display:flex;flex-direction: row;justify-content: space-around;margin-left:15px;">
                    <div class = "like" style = "display: flex;flex-direction: row;justify-content: space-around;">
                        <div id = "likeimg"><img src = "{%static '좋아요.png'%}" style = "width: 15px;height:15px;"></div>
                        <div id = "liketxt" style = "font-family:Nanum Gothic;font-size: 11px;margin-left:5px;">좋아요 1</div>
                    </div>
                    <div class = "comment" style = "display: flex;flex-direction: row;justify-content: space-around;margin-left:10px;">
                        <div id = "commentimg"><img src = "{%static '댓글.png'%}" style = "width: 15px;height:15px;"></div>
                        <div id = "commenttxt" style = "font-family:Nanum Gothic;font-size: 11px;margin-left:5px;">댓글 2</div>
                    </div>
                </div>
                <div id = "seeindetail"  style = "font-family:Nanum Gothic;font-size: 11px;color:#afafaf;margin-left:auto;margin-right: 10px;">자세히보기</div>
            </div>
        </div>
    </div>
    <div class = "mointext">
        <div class = "moin1box" style = "position:relative;">
            <div class = "profile" style = "display: flex;flex-direction:row;">
                <div id = "writerprofile" style="margin-left:10px;">
                    {% if open.image %}        
                    <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;">
                    {% endif %}
                </div>
                <div id ="membername" style = "font-size:12px;font-family: Nanum Gothic;font-weight: bold;margin-left:10px;margin-right:20px;">조윤</div>
            </div>
            <div id = "writtendate" style = "font-size:12px;font-family: Nanum Gothic; color:#afafaf;margin-left:auto;margin-right: 10px;">8월 27일 21:04</div>
        </div>
        <div class = "moin2box" style = "position:absolute;">
            <div class = "contenttxt">
                <div id = "contenttitle" style = "font-family:Nanum Gothic;font-size: 14px;font-weight: bold;">가입인사</div>
                <div id = "content" style = "font-family:Nanum Gothic;font-size: 12px;margin-top:10px;">안녕하세요. 김윤조입니다.</div>
            </div>
            <div class = "contentimg">
                {% if open.image %}        
                    <img src="{{open.image.url}}" alt="" style = "width: 100%; height: 6vh; object-fit:cover;">
                {% endif %}
            </div>
        </div>
        <div class = "moin3box">
            <div class = "commentlike" style = "display:flex;flex-direction: row;justify-content: space-around;margin-left:15px;">
                <div class = "like" style = "display: flex;flex-direction: row;justify-content: space-around;">
                    <div id = "likeimg"><img src = "{%static '좋아요.png'%}" style = "width: 15px;height:15px;"></div>
                    <div id = "liketxt" style = "font-family:Nanum Gothic;font-size: 11px;margin-left:5px;">좋아요 1</div>
                </div>
                <div class = "comment" style = "display: flex;flex-direction: row;justify-content: space-around;margin-left:10px;">
                    <div id = "commentimg"><img src = "{%static '댓글.png'%}" style = "width: 15px;height:15px;"></div>
                    <div id = "commenttxt" style = "font-family:Nanum Gothic;font-size: 11px;margin-left:5px;">댓글 2</div>
                </div>
            </div>
            <div id = "seeindetail"  style = "font-family:Nanum Gothic;font-size: 11px;color:#afafaf;margin-left:auto;margin-right: 10px;">자세히보기</div>
        </div>
    </div>
    <div class = "mointext">
        <div class = "moin1box" style = "position:relative;">
            <div class = "profile" style = "display: flex;flex-direction:row;">
                <div id = "writerprofile" style="margin-left:10px;">
                    {% if open.image %}        
                    <img src="{{open.image.url}}" alt="" style = "width: 45px; height: 45px;border-radius: 100px; object-fit:cover;">
                    {% endif %}
                </div>
                <div id ="membername" style = "font-size:12px;font-family: Nanum Gothic;font-weight: bold;margin-left:10px;margin-right:20px;">조윤</div>
            </div>
            <div id = "writtendate" style = "font-size:12px;font-family: Nanum Gothic; color:#afafaf;margin-left:auto;margin-right: 10px;">8월 27일 21:04</div>
        </div>
        <div class = "moin2box" style = "position:absolute;">
            <div class = "contenttxt">
                <div id = "contenttitle" style = "font-family:Nanum Gothic;font-size: 14px;font-weight: bold;">가입인사</div>
                <div id = "content" style = "font-family:Nanum Gothic;font-size: 12px;margin-top:10px;">안녕하세요. 김윤조입니다.</div>
            </div>
            <div class = "contentimg">
                {% if open.image %}        
                    <img src="{{open.image.url}}" alt="" style = "width: 100%; height: 6vh; object-fit:cover;">
                {% endif %}
            </div>
        </div>
        <div class = "moin3box">
            <div class = "commentlike" style = "display:flex;flex-direction: row;justify-content: space-around;margin-left:15px;">
                <div class = "like" style = "display: flex;flex-direction: row;justify-content: space-around;">
                    <div id = "likeimg"><img src = "{%static '좋아요.png'%}" style = "width: 15px;height:15px;"></div>
                    <div id = "liketxt" style = "font-family:Nanum Gothic;font-size: 11px;margin-left:5px;">좋아요 1</div>
                </div>
                <div class = "comment" style = "display: flex;flex-direction: row;justify-content: space-around;margin-left:10px;">
                    <div id = "commentimg"><img src = "{%static '댓글.png'%}" style = "width: 15px;height:15px;"></div>
                    <div id = "commenttxt" style = "font-family:Nanum Gothic;font-size: 11px;margin-left:5px;">댓글 2</div>
                </div>
            </div>
            <div id = "seeindetail"  style = "font-family:Nanum Gothic;font-size: 11px;color:#afafaf;margin-left:auto;margin-right: 10px;">자세히보기</div>
        </div>
    </div>
</div>
</div>
<div class = "writebotton">
    <a href="{%url 'select' %}"><img src = "{%static '작성.png'%}" style = "width: 41px;height:41px;"></a>
</div>
    
</div>
<div class = "bottombar">
    <a href="{%url 'home' %}">
    <div class = "bottom_icon" style="justify-content:center;vertical-align:middle;cursor:pointer;margin-left : 48px;margin-top:8px;margin-bottom:3px;">
        <img src = "{%static '홈.png' %}">
        <br>
        <div id="bottom_txt">
            홈
        </div>
    </div>
    </a>
    <a href="{%url 'index_1'%}">
    <div class = "bottom_icon" style="justify-content:center;vertical-align:middle;cursor:pointer;margin-top:8px;margin-bottom:3px;">
        <img src = "{%static '소모임.png' %}">
        <br>
        <div id="bottom_txt">
            소모임
        </div>
    </div>
    </a>
    <div class = "bottom_icon" style="justify-content:center;vertical-align:middle;cursor:pointer;margin-top:5px;margin-bottom:3px;">
        <img src = "{%static '내모임.png' %}">
        <br>
        <div id="bottom_txt">
            내 모임
        </div>
    </div>
    <div class = "bottom_icon" style="justify-content:center;vertical-align:middle;cursor:pointer;; margin-right:48px;margin-top:8px;margin-bottom:3px;">
        <img src = "{%static '알림.png' %}">
        <br>
        <div id="bottom_txt">
            알림
        </div>
    </div>
</div>


{% endblock %}