<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h1>Login</h1><br>
    <form action="{% url 'login' %}" method="post">
        {%csrf_token%}
        <p>아이디를 입력해주세요: {{form.username}}</p>
        <p>비밀번호를 입력해주세요: {{form.password}}</p>

        <button type="submit">submit</button>
    </form>
    <br>
    <a href="{% url 'home' %}"><button>Home</button></a>
    <a href="{% url 'register' %}"><button>Register</button></a>
</body>
</html>