<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <h1 style= "font-family:Poor story;">Register</h1><br>
    <form action="{% url 'register' %}" method="post">
        {%csrf_token%}
        <p>아이디를 설정해주세요: {{form.username}}</p>
        <p>비밀번호를 설정해주세요: {{form.password1}}</p>
        <p>비밀번호를 확인해주세요: {{form.password2}}</p>
        <p>이름을 입력해주세요: {{form.이름}}</p>
        <p>성별을 선택해주세요: {{form.성별}}</p>
        <p>생년월일을 입력해주세요(EX: 2002-01-01): {{form.생년월일}}</p>

        <!--
        <p>닉네임을 설정해주세요: {{form.닉네임}}</p>
        <p>나이를 입력해주세요: {{form.나이}}</p>
        <p>성별을 입력해주세요: {{form.성별}}</p>
        <p>직업을 입력해주세요: {{form.직업}}</p>
        <p>연애횟수를 입력해주세요: {{form.연애횟수}}</p>
         -->
        
        <button type='submit'>Register</button>
    </form>
    <br><br>
    <a href="{% url 'home' %}"><button>Home</button></a>

    
</body>
</html>