{% extends 'base.html' %}

{% block content %}
{% load static %}
<div style= "border-color: rgb(138, 134, 134); border-style: solid; border-width: 5px; margin-left: 10px; margin-right: 10px; margin-top: 70px; text-align: center;">
    {{write.제목}}<br>
    {{write.내용}}<br>
    {% if write.사진 %}        
    <img src="{{write.사진.url}}" alt="" style="width: 100px; height:100px;">
    {% endif %}
</div>
<h3 style="text-align: center;">댓글 목록</h3>
<div class = "button" style="display:flex;justify-content: center;margin-top:3vh;">
    <button type="submit" style="width: 274px;height: 41px;border-radius: 10px;background: #f6b955;border:0px;font-size: 15.5px;font-family: Nanum Gothic;color:white;font-weight: bold;">댓글 쓰기</button>
</div>



{% endblock %}